.paraprofile {
  margin-right: 130px;
  margin-top: 5px;
  font-size: 18px;
}
.paperscroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.listietms:hover {
  background-color: rgb(218, 215, 215);
  cursor: pointer;

  /* color: white; */
}
/* .forscroll {
  overflow: auto;
} */
